/* Import the fonts */
@font-face {
    font-family: "Coolvetica Condensed";
    src: url("./fonts/coolvetic_condensed_rg.otf");
}

@font-face {
    font-family: "Coolvetica";
    src: url("./fonts/coolvetica_rg.otf");
}

/* Overall body styling */
body {
    background-color: #1E1E1E; /* Dark background */
    color: #FAF9F6; /* Light text color */
    font-family: "Coolvetica Condensed", sans-serif; /* Default font */
}

/* Container for the whole page */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Full screen height */
    text-align: center;
}

/* Header styles */
header {
    margin-bottom: 20px; /* Space below the header */
    display: block; /* Ensure block layout */
    margin: 0 auto; /* Center the header */
}

/* Header logo styles */
.logo {
    color: white; /* Logo text color */
    font-size: 24px; /* Logo font size */
    text-decoration: none; /* No underline */
    margin-bottom: 20px; /* Space below the logo */
}

header .logo-img {
    max-width: 100px; /* Logo size */
    height: auto; /* Maintain aspect ratio */
}

/* Headings (H1) */
h1 {
    font-family: "Coolvetica"; /* Heading font */
    font-size: 32px; /* Heading size */
    margin: 20px 0; /* Margin around headings */
    color: #FAF9F6;
}

/* Flexbox layout for columns */
.columns {
    display: flex;
    justify-content: space-between; /* Distribute columns */
    gap: 20px; /* Space between columns */
    width: 100%; /* Full width */
    max-width: 1200px; /* Limit max width */
}

/* Style for each individual column */
.column {
    background: linear-gradient(to bottom, 
    #2d2d2d, 
    #424242, 
    #575757, 
    #6C6C6C, 
    #818181, 
    #969696);
    color: #f9f9f9; /* Dark text inside columns */
    padding: 20px;
    flex: 1; /* Equal space for columns */
    border: 1px solid #1E1E1E;
    border-radius: 5px;
    text-align: left;
}

/* Centering button container */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* General button styling */
button.button {
    background-color: #6CB4EE; /* Light blue background */
    color: #FAF9F6; /* Light text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}

button.button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* Scrollable content styling */
.scrollable-content {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}

/* Table styling */
#track-table, #ip-table {
    width: 100%; /*
}